# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: 'v0.14.3'
      hooks:
          - id: ruff
          - id: ruff-format
    - repo: https://github.com/PyCQA/bandit
      rev: '1.8.6'
      hooks:
          - id: bandit
            args: ['--confidence-level=medium', '--severity-level=medium', '--configfile', 'pyproject.toml']
            additional_dependencies: ['bandit[toml]']
